# cloudflared
TUNNEL_TOKEN=

# open_notebook
OPEN_NOTEBOOK_ENCRYPTION_KEY=
OPEN_NOTEBOOK_PASSWORD=
FIRECRAWL_API_KEY=
OPEN_NOTENOOK_API_URL=

# open_plaud
DEFAULT_STORAGE_TYPE=
ENCRYPTION_KEY=
BETTER_AUTH_SECRET=
OPEN_PLAUD_APP_URL=